.page {
    background-image: url('../../images/milad-fakurian-WKk3IypKo50-unsplash\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    height: 825px;
}