@keyframes first-image {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes second-image {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes third-image {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fourth-image {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fifth-image {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}